body{
    background: #eee url(/bg-pattern.png);
    color: #555;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.inner{
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}